.nav__link {
  text-decoration: none;
  outline: none;
  transition: .5s linear;
  position: relative;
  margin: 0 auto;
  padding: 12px;
  z-index: 1;
  font-weight: 400;
  display: block;
  @apply text-primary-prblue text-2xl font-fr uppercase;
}

.nav__link:hover {
  @apply bg-primary-prred text-white;
}
.nav__link_black {
  @apply text-primary-black;
}

.nav__link_flex {
  @apply flex p-0;
}