<li class="card p-7 mb-5 relative flex justify-between bg-primary-darkbg rounded-3xl transition-all duration-300 group">
  <div class="basis-2/3">
    <h3 class="card-title font-medium font-fr uppercase max-w-[680px] text-4xl text-primary-white mobile:text-base"><%= obj.categoryName %></h3>
    <p class="card-desc text-xl basis-14 mt-4 mb-[30px] max-w-[680px] leading-snug text-primary-white mobile:max-w-full  mobile:text-sm"><%= obj.categoryDesc %></p>
    <a href="/catalog/<%= obj.linkPath %>/">
      <span class="inset0">
      </span>
    </a>
    </div>
    <img class="basis-1/4 w-full min-w-0 object-contain object-right-top" src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%><%= obj.posterSm %>" alt="<%= obj.title %>" >
</li>