<!--const { id,	textId,	categoryTextId,	title,	h1,	intro,	charsJson,	seoKeywords,	seoDescription,	isPublished	}= product;-->


<li class="grid grid-cols-12 relative  hover:bg-blue-100">
  <div class="pb-[100%] relative"><span class="absolute top-[50%] left-[50%]">[<%= obj.index || '' %>]</span></div>
  <div class="flex justify-center relative items-center bg-blue-50 ">
    <img class="w-[calc(100%-80px)] p" src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%><%= obj.posterSm %>" alt="<%= obj.h1 %>" >
  </div>
  <h3 class="card-title self-center col-span-4 font-medium font-fr uppercase text-3xl text-primary-prblue mobile:text-2xl"><%= obj.h1_sm %></h3>
  <p class="card-desc self-center text-4xl font-semibold text-primary-prblue mobile:max-w-full mobile:text-2xl"><%= obj.sizeUtf %> м³</p>
  <p class="text-white text-[9px] mt-2"><%= !obj.drawingsGalleryIds ? 'Нет чертежа' : '' %></p>
    <a href="/catalog/<%= obj.catLinkPath %>/<%= obj.textId %>.html">
      <span class="inset0">
      </span>
    </a>
</li>