<h2 class="text-3xl my-4 font-bold">
    Согласие на обработку персональных данных <%= __.companyName %>
</h2>
<div class="flex flex-col gap-5 max-w-6xl">
    <p>
        Настоящим даю согласие <%= __.companyName  %> (ИНН <%= __.companyInn %>, ОГРН <%= __.companyOgrn %>) (далее – Оператор) на
        обработку своих персональных данных.
    </p>
    <p>
        Перечень персональных данных пользователя, на обработку которых даётся согласие: фамилия, имя, email,
        организация, город.
    </p>
    <p>
        Цель обработки персональных данных: осуществление информационного и (или) организационного взаимодействия со
        всеми пользователями (включая информационное обеспечение, направление информационных сообщений и рекламной
        информации, обработку поступающих обращений и информационных материалов любого характера и подготовку ответа на
        них, предоставление эффективной поддержки при возникновении у заинтересованных лиц различных проблем или
        ситуаций), а также управление качеством и эффективностью такого взаимодействия (обслуживания).
    </p>
    <p>
        Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и
        различных событиях.
    </p>
    <p>
        Обработка персональных данных осуществляется только Оператором, без поручения обработки иным юридическим и
        физическим лицам.
    </p>
    <p>
        Перечень действий с персональными данными, на совершение которых дается согласие, общее описание используемых
        оператором способов обработки персональных данных: сбор, запись, систематизация, накопление, хранение, уточнение
        (обновление, изменение), извлечение, использование, удаление, уничтожение персональных данных.
    </p>
    <p>
        Обработка вышеуказанных персональных данных будет осуществляться путем автоматизированной обработки персональных
        данных.
    </p>
    <p>
        Передача персональных данных третьим лицам не осуществляется.
    </p>
    <p>
        Настоящее согласие на обработку персональных данных действует с момента его представления оператору в течение
        неопределенного срока.
    </p>
    <p>
        Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес
        <a class="underline text-blue-700" href="mailto:<%= __.companySonsentEmail %>"><%= __.companySonsentEmail %></a>.
    </p>
    <p>
        Персональные данные субъекта подлежат хранению в течение сроков, установленных законодательством Российской
        Федерации. Персональные данные уничтожаются: по достижению целей обработки персональных данных; при ликвидации
        или реорганизации Оператора; на основании письменного обращения субъекта персональных данных с требованием о
        прекращении обработки его персональных данных Оператор прекратит обработку таких персональных данных в течение
        30 дней с даты подачи отзыва, о чем будет направлено письменное уведомление субъекту.
    </p>
</div>
   