@import url(../vendor/normalize.css);
@import url(../blocks/_root/root.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/leftnav/leftnav.css);
@import url(../blocks/formquiz/formquiz.css);


@import url(../blocks/nav/nav.css);
@import url(../blocks/hero/hero.css);

@import url(../blocks/highliter/highliter.css);
@import url(../blocks/list-adv/list-adv.css);
@import url(../blocks/list-uslugi/list-uslugi.css);
@import url(../blocks/form/form.css);

@import url(../blocks/popupmenu/popupmenu.css);


.comparisonSection {
  position: relative;
  padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}
.comparisonImage {
  width: 100%;
  height: 100%;
}
.afterImage {
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translate(100%, 0px);
}
.afterImage img {
  transform: translate(-100%, 0px);
}
.comparisonImage img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

}
.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
