@import url(../vendor/normalize.css);
@import url(../blocks/_root/root.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/leftnav/leftnav.css);
@import url(../blocks/formquiz/formquiz.css);


@import url(../blocks/nav/nav.css);
@import url(../blocks/hero/hero.css);

@import url(../blocks/highliter/highliter.css);
@import url(../blocks/list-adv/list-adv.css);
@import url(../blocks/list-uslugi/list-uslugi.css);
@import url(../blocks/form/form.css);

@import url(../blocks/breadcrumbs/breadcrumbs.css);

@import url(../blocks/popupmenu/popupmenu.css);

@import url(../blocks/figure/figure.css);

@import url(../blocks/animatecss/_base.css);
@import url(../blocks/animatecss/_vars.css);
@import url(../blocks/animatecss/fading_entrances/fadeInRight.css);
@import url(../blocks/animatecss/fading_entrances/fadeInBottomLeft.css);
@import url(../blocks/animatecss/fading_entrances/fadeInBottomRight.css);
@import url(../blocks/animatecss/fading_entrances/fadeIn.css);

.comparisonSection {
  position: relative;
  padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}
.comparisonImage {
  width: 100%;
  height: 100%;
}
.afterImage {
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translate(100%, 0px);
}
.afterImage img {
  transform: translate(-100%, 0px);
}
.comparisonImage img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

}
.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}


.animate-me {
  perspective: 500px;
}

.container-spt {

}

/* 2 класса для бегущего наложения на абзац на главной*/
.linemasc {
  @apply bg-black origin-left;
}

.linex {
  @apply whitespace-nowrap text-primary-prblue;
}

.content-ai p p strong {
  @apply block mb-2;
}