<footer class="footer bg-mary-blueacc pt-20 pb-0">
  <div class="content grid grid-cols-4 mvpc:grid-cols-3 mobile:grid-cols-1 mobile:*:col-span-1">
    <h2 class="up-title text-white">Контакты</h2>
    <div class="grid grid-cols-3 col-span-3 mvpc:grid-cols-2 mvpc:col-span-2">
      <ul class="col-span-3 mb-10 mvpc:col-span-2">
        <li><a class="block my-4 title-section uppercase text-white" href="<%= additionalData.contacts.mob.contact_url %>"><%= additionalData.contacts.mob.contact_text %></a></li>
        <li><a class="block my-4 title-section text-white" href="<%= additionalData.contacts.email.contact_url %>"><%= additionalData.contacts.email.contact_text %></a></li>
        <li><a class="block text-white text-sm" href="<%= ROUTES.sonsent %>">Соглашение об обработке персональных данных</a></li>
      </ul>
      <ul class="my-2 *:mb-1">
        <li><a class="text-white text-base link-beauty" href="<%= ROUTES.rgs %>">Горизонтальные резервуары</a></li>
        <li><a class="text-white text-base link-beauty" href="<%= ROUTES.rvs %>">Вертикальные резервуары</a></li>
        <li><a class="text-white text-base link-beauty" href="<%= ROUTES.silosy %>">Силосы</a></li>
      </ul>
      <ul class="mt-6">
        <li><a class="text-white text-base link-beauty" href="<%= ROUTES.uslugi %>">Услуги</a></li>
        <li><a class="text-white text-base link-beauty" href="<%= ROUTES.objects %>">География работы</a></li>
        <li><a class="text-white text-base link-beauty" href="<%= ROUTES.contacts %>">Контакты</a></li>
      </ul>
    </div>
  </div>

  <!--
  <div class="content rounded-3xl flex">
    <img src="../../images/header-logo-theme-dark.svg" class="header__logo-img opacity-0" alt="Лого ВИКИНГ"/>
  </div>-->
  <div class="col-span-4 content">
    <img src="../../images/text-logo-big.svg" class="w-full  opacity-15" >
  </div>
  <!--

  <div class="mt-8">
    <h3 class="text-white text-lg font-fr font-medium uppercase">Продукция</h3>
    <ul class="my-2 *:mb-1">
      <li><a class="text-white text-base" href="<%= ROUTES.rgs %>">Горизонтальные резервуары</a></li>
      <li><a class="text-white text-base" href="<%= ROUTES.rvs %>">Вертикальные резервуары</a></li>
      <li><a class="text-white text-base" href="<%= ROUTES.silosy %>">Силосы</a></li>
    </ul>
    <ul class="mt-6">
      <li><a class="text-white text-lg font-fr font-medium uppercase" href="<%= ROUTES.uslugi %>">Услуги</a></li>
      <li><a class="text-white text-lg font-fr font-medium uppercase" href="<%= ROUTES.uslugi %>">География работы</a></li>
      <li><a class="text-white text-lg font-fr font-medium uppercase" href="<%= ROUTES.uslugi %>">Контакты</a></li>
    </ul>
  </div>-->
</footer>

<!--Форма обратного звонка  -->
<div class="popup items-start justify-end popup-callback bg-primary-lightgray bg-opacity-10">
  <div class="relative p-4 mt-24 rounded mr-16 pc:mr-5  <%= page!=='main' ? 'bg-primary-black' : 'bg-primary-lightgray' %>">
    <button class="popup__button-close w-6 h-6 absolute top-5 right-6" type="button">
      <svg class="stroke-primary-gray" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>
    <form class="popup__form raschet-bem max-w-64 pt-6 <%= page!=='main' ? 'text-primary-white' : 'text-primary-black' %>" method="post" action="#" id="formCallBack" name="formCallBack" novalidate>
        <h2 class="text-xl font-medium ">Оставьте свой номер и мы Вам перезвоним <span class="popup-form__title"></span></h2>
        <div class="free-form">
            <label class="block my-10 relative">
              <span class="block mb-1">Номер телефона</span>
              <input data-alias="Телефон" type="text" name="tel" id="tel-free-input" class="raschet-bem__input text-lg py-3 border-b border-primary-gray bg-transparent" required minlength="1">
              <span class="raschet-bem__input-error tel-free-input-error"></span>
            </label>
        </div>
        <button class="ui-button button-bem_submit" type="submit">Отправить</button>
    </form>
  </div>
</div>