<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= require(`html-loader!./inner-google${isDevServer ? '-dev-server' : ''}.html`).default %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('index.html')[0] %>"  rel="canonical" />
  </head>
  <body class="page bg-primary-lightgray">
    <%= require(`html-loader!./inner-metrika${isDevServer ? '-dev-server' : ''}.html`).default %>
    <header class="header__up py-8">
        <%=_.template(require('html-loader!./insets/asides/inner-header.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
    </header>
    <main class="content relative mt-10 mb-20">
      <h1 class="up-title up-title_svg up-title_h1 mb-10 bg-primary-lightgray">О производстве</h1>
      <p>
        Стальные емкости и резервуары от производителя в Барнауле
        Основным направлением производственной компании ООО "ВИКИНГ" является производство емкостей и резервуаров из металла, а также изготовление сварных металлических конструкций и иного оборудования под заказ.
        Если вы ищете, где купить резервуар для хранения и сбора жидкостей а так же сыпучих веществ, то у нас вы найдете емкости для:
      </p>
      <ul>
        <li> масла</li>
          <li> воды (техническая и питьевая)</li>
          <li> нефтепродуктов;</li>
          <li> химических веществ;</li>
          <li> топлива и ГСМ (бензин, дизельное топливо, керосин и др.);</li>
          <li> зерна;</li>
          <li> сыпучих веществ;</li>
          <li> кислот;</li>
          <li> и многих других продуктов, материалов и веществ.</span></p>
        </ul>
        <p>
            Вся продукция ООО "ВИКИНГ" соответствует следующим требованиям: устойчива к коррозии и различным химикатам, а также имеет абсолютную непроницаемость. При производстве резервуаров мы используем высококачественные листы углеродистой и низколегированной стали. Такой материал отличается пластичностью и устойчив к механическим деформациям.
            Если вы хотите купить резервуар для воды, нефтепродуктов, пожарный резервуар или емкость для других жидкостей, то у нас вы найдете продукцию, которая легко монтируется и удобна в эксплуатации и техническом обслуживании. Также по желанию заказчика резервуары могут быть дополнены люками, лестницами, фланцами, патрубками, опорами или рамами. Можно купить резервуары ГСМ с дополнительным оборудованием, которое контролирует температуру внутри резервуара, степень давления, обеспечивает защиту от молний и статического электричества.
            Наша компания зарекомендовала себя на рынке сибирского региона как поставщик качественного и надежного оборудования. Производимые ООО "ВИКИНГ" резервуары, силосы и ёмкости используются для хранения воды, нефтепродуктов, химических растворов, жидких пищевых продуктов, а также сыпучих веществ.
            Технико-производственная база предприятия оснащена металлообрабатывающим оборудованием российских и зарубежных производителей, что позволяет с высокой точностью изготавливать сложные изделия из металла. Сварка конструкций осуществляется опытными, дипломированными сварщиками с учетом всех технологических процессов.
            При обращении в нашу компанию вы получите оперативную профессиональную консультацию по интересующему оборудованию. При необходимости мы вышлем вам коммерческое предложение с техническим описанием, условиями оплаты, сроками изготовления и поставки.
            Наш индивидуальный подход к каждому клиенту, позволяет сделать сотрудничество максимально комфортным для наших заказчиков.
        </p>
    </main>
    <%= _.template(require('html-loader!./insets/asides/inner-footer.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
  </body>
</html>