<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= require(`html-loader!./inner-google${isDevServer ? '-dev-server' : ''}.html`).default %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('index.html')[0] %>"  rel="canonical" />
  </head>
  <body class="page bg-blue-200">
    <%= require(`html-loader!./inner-metrika${isDevServer ? '-dev-server' : ''}.html`).default %>
    <header class="header__up">
        <%=_.template(require('html-loader!./insets/asides/inner-header.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
    </header>
    <main>
    <div class="content grid grid-cols-2 items-stretch gap-5 relative mt-10 mb-20">
      <div class="bg-blue-800 p-4 h-full flex flex-col rounded-lg">
        <h1 class="mb-4 text-6xl indent-[176px] text-white font-medium font-fr relative">
          <figure class="bg-red-700 absolute top-2 left-16 rounded-full w-10 h-10"></figure>
          <%= categoryData.categoryName %>
        </h1>
        <p class="text-base text-primary-white max-w-7xl"><%= categoryData.categoryDesc %></p>
        <button class="ui-button mt-auto">Узнать цену</button>
      </div>
      <div class="bg-red-700 rounded-lg">
        <img class="w-1/2 block mx-auto" src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%><%= categoryData.posterSm %>" alt="<%= categoryData.categoryName %>">
      </div>
      <div>
        <ul class="flex flex-col gap-5">
          <li class="p-4 rounded-lg border-2 border-red-700 text-3xl font-fr">объем от <%= Math.min(...categoryData.sizesArr) %> м³ до <%= Math.max(...categoryData.sizesArr) %> м³</li>
          <li class="p-4 rounded-lg border-2 border-red-700 text-3xl font-fr">для наземного использования</li>
          <li class="p-4 rounded-lg border-2 border-red-700 text-3xl font-fr">внутренняя покраска</li>
        </ul>
      </div>
      <div class="bg-red-700 rounded-lg">
        <img class="w-1/2 block mx-auto" src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%><%= categoryData.posterRazrez %>" alt="<%= categoryData.categoryName %>">
      </div>
    </div>
    <div class="content container-4 my-16">
      <ul class="col-span-4 grid grid-cols-4 gap-5">
        <% categoryProducts.map((c)=> { %>
          <%= _.template(require('html-loader!./templates/card-product.html').default)({obj: c, isDevServer}) %>
        <% }) %>
      </ul>
    </div>
    </main>
    <%= _.template(require('html-loader!./insets/asides/inner-footer.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
  </body>
</html>