<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= require(`html-loader!./inner-google${isDevServer ? '-dev-server' : ''}.html`).default %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('index.html')[0] %>"  rel="canonical" />
  </head>
  <body class="page bg-white">
    <div id="smooth-wrapper">
      <div id="smooth-content">
    <%= require(`html-loader!./inner-metrika${isDevServer ? '-dev-server' : ''}.html`).default %>
    <%=_.template(require('html-loader!./insets/asides/inner-header-animated.html').default)({ROUTES: ROUTES, additionalData: additionalData, page: 'main'}) %>
    <main>
      <div class="all-sect grid grid-cols-2 laptop:grid-cols-1">
        <div class="flex flex-col items-start grid-flow-col relative mt-0">
          <!--Блок 1-->
          <div class="h-[50vh] border-r border-b w-full  border-primary-gray pl-[var(--aside-width)] pt-[calc(var(--aside-width))] laptop:h-auto laptop:pb-32 laptop:border-r-0">
            <div class="breadcrumbs">
              <a class="breadcrumbs__link" href="/">Главная</a>
              <a class="breadcrumbs__link breadcrumbs__link_type_here" href="/catalog/<%= categoryData.linkPath %>/"><%= categoryData.categoryName %></a>
            </div>
            <h1 class="title-cat-prod">
              <%= categoryData.categoryName %>
            </h1>
            <p class="text-xl max-w-3xl">
              <%= categoryData.categoryDesc %>
            </p>
          </div>
        </div>
        <div class="flex border-b border-primary-gray h-[50vh]">
          <%  if (categoryData.main_img_id) { %>
            <img class="main-category-img w-1/2 block mx-auto my-auto" <%= categoryData.razrez_img_id ? `data-hover="${canonicalURL}/api-images/gallery/${ dModels[categoryData.razrez_img_id].fileName}"` : '' %> src="<%= canonicalURL %>/api-images/gallery/<%= dModels[categoryData.main_img_id].fileName %>" alt="<%= categoryData.categoryName %>">
          <% } %>
        </div>
      </div>
      <% if (gallery.filter(i => i.consumersIds.includes('gallery') && i.consumersIds.includes(categoryData.textId)).length ) { %>
        <section class="py-16 px-[var(--aside-width)] "> <!--ВНИМАНИЕ КОСТЫЛЬ-->
          <h2 class="text-4xl font-fr uppercase font-semibold text-primary-prblue mb-8">Фотографии изготовленных <%= categoryData.catRoditelniiPadezhName %></h2>
          <div class="container-4 grid-cols-4 gap-5 gap-y-10">
            <% gallery.filter(i => i.consumersIds.includes('gallery') && i.consumersIds.includes(categoryData.textId)).map((i)=> { %>
              <div class="">
                <div class="aspect-[16/9] w-full flex justify-start">
                  <figure class="figure h-full  figure_mate  overflow-hidden relative rounded-sm">
                    <img class="h-full w-auto object-contain object-left" src="<%= isDevServer ? `${canonicalURL}` : ''%>/api-images/gallery/<%= i.fileName %>">
                  </figure>
                </div>
                <figcaption class="block pt-2 border-t border-primary-lightgray mt-3 text-sm text-primary-prblue uppercase"><%= i.title %></figcaption>
              </div>
            <% }) %>
          </div>
        </section>
      <% } %>
      <!--Блок 2 ЧЕРТЕЖИ если есть назовем Примеры комплетации!!!-->
      <% if (categoryData.drawingss) { %>
        <div class="border-r border-t border-primary-gray">
          <!--<h2 class="text-2xl uppercase font-fr font-medium">Чертежи</h2>-->
          <ul class="grid grid-cols-3 gap-0 bg-blue-100 pl-[var(--aside-width)]">
            <% categoryData.drawings?.map((dId) => { %>
              <li class="p-3">
                 <h3><%= drawings[dId].ruName %></h3>
                 <!-- <h3 class="font-fr mb-2 mt-8">Заголовок чертежа</h3>-->
                <figure class="product-draw drawfig my-3">
                  <img src="<%= isDevServer ? `${canonicalURL}` : ''%>/<%= drawings[dId].slugifyPngFile %>" class="w-full" alt="">
                </figure>
                <a class="flex gap-2 font-fr"  target="_blank" href="<%= isDevServer ? `${canonicalURL}` : ''%>/<%= drawings[dId].slugifyPdfFile %>">
                  Скачать чертеж
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 stroke-blue-600">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                  </svg>
                </a>
              </li>
            <% }) %>
          </ul>
        </div>
      <% } %>

    <% if (categoryProducts && categoryProducts.length) { %>
      <section>
        <h2 class="text-4xl mt-16 content  uppercase font-semibold mb-5 text-primary-prblue font-fr">Основные типоразмеры резервуаров</h2>
        <ul class="odd:*:bg-blue-50">
          <% categoryProducts.sort((a,b)=> a.sizeUtf - b.sizeUtf).map((c, index)=> { %>
            <%= _.template(require('html-loader!./templates/card-product.html').default)({obj: {...c, index: index+1}, isDevServer}) %>
          <% }) %>
        </ul>
      </section>
    <% } %>

    <% if (categoryData.categoryDescBottom) { %>
      <section class="additional-bottom-category-desc prose prose-xl prose-vik p-[var(--aside-width)]">
        <h2 class="text-4xl mt-16 uppercase font-semibold mb-5 text-primary-prblue font-fr">Подробнее про <%= categoryData.categoryName %></h2>
        <% if(categoryData.isDescBottomMd) { %>
          <%= markdown.toHTML(categoryData.categoryDescBottom) %>
        <% } else { %>
          <%= categoryData.categoryDescBottom %>
        <% } %>
      </section>
    <% } %>

    </main>
    <%= _.template(require('html-loader!./insets/asides/inner-footer.html').default)({ROUTES: ROUTES, additionalData: additionalData, page: 'notmain'}) %>
   </div>
  </div>
  <%= _.template(require('html-loader!./insets/asides/inner-outbody-popups.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
  </body>
</html>