<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= require(`html-loader!./inner-google${isDevServer ? '-dev-server' : ''}.html`).default %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('index.html')[0] %>"  rel="canonical" />
  </head>
  <body class="page bg-blue-50">
    <%= require(`html-loader!./inner-metrika${isDevServer ? '-dev-server' : ''}.html`).default %>
    <header class="header__up">
      <div class="grid grid-cols-12 grid-rows-3 grid-flow-col border-b border-primary-prblue">
        <a href="/" class="header__logo max-w-48 col-span-2 row-span-3 w-full pl-1 py-7"><img src="<%= require('./images/header-logo-theme-white.svg')%>" class="header__logo-img" alt="Лого Дромотрон"/></a>
        <div class="col-span-4 row-span-3 border-r border-primary-prblue px-4 py-10">
          <img class=" max-w-[97%]" src="<%= require('./images/text-logo.svg')%>" alt="Текстовое лого">
        </div>
        <div class="col-span-6 row-span-3 flex flex-col justify-between h-full py-7 px-4">
          <div class="flex justify-between">
            <div class="flex flex-col col-span-2 col-start-7 font-fr items-start text-primary-black justify-self-end olpc:flex-col mobile:hidden">
              <a class="text-lg mb-2 flex" href="tel:79999992272">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                </svg>
                +7(999)999-22-72
              </a>
              <a class="text-lg flex" href="mailto:info@rezervuar22.ru">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                </svg>
                info@rezervuar22.ru
              </a>
            </div>
            <button class="popup-callback-button mt-4 self-start justify-self-end font-fr text-xl rounded px-3 py-2 bg-primary-red text-white  mobile:hidden">Отправить заявку</button>
        </div>
        <h1 class="text-5xl font-fr uppercase max-w-[677px]">Производство резервуаров и ёмкостного оборудования</h1>
        </div>
      </div>
    </header>
    <main>
    <div class="content grid grid-cols-2 items-stretch gap-y-5 relative mb-20">
      <div class="p-4 h-full flex flex-col pr-10">
        <h1 class="text-primary-prblue mb-4 text-7xl indent-[33%] font-medium font-fr uppercase relative">
          <svg class="fill-primary-prredlight size-8 absolute top-4 left-12" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="#EA3323"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M2 22h20V2L2 22z"/></svg>
          <%= categoryData.categoryName %>
        </h1>
        <p class="text-base text-primary-darkbg max-w-7xl mb-8"><%= categoryData.categoryDesc %></p>
        <button class="ui-button mt-auto">Узнать цену</button>
      </div>
      <div class="bg-primary-prredlight mt-10">
        <img class="w-1/2 block mx-auto" src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%><%= categoryData.posterSm %>" alt="<%= categoryData.categoryName %>">
      </div>
      <div class="grid grid-cols-2 pr-10">
        <div class="w-full border-t border-primary-prredlight pt-4"><h2 class="up-title up-title_svg self-start text-primary-prblue">Характеристики</h2></div>
        <ul class="flex flex-col text-primary-darkbg *:border-primary-prredlight *:text-3xl">
          <li class="p-4  border-t font-fr">объем от <%= Math.min(...categoryData.sizesArr) %> м³ до <%= Math.max(...categoryData.sizesArr) %> м³</li>
          <li class="p-4 border-t font-fr">для наземного использования</li>
          <li class="p-4 border-t font-fr">внутренняя покраска</li>
        </ul>
      </div>
      <div class="bg-primary-prredlight">
        <img class="w-1/2 block mx-auto" src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%><%= categoryData.posterRazrez %>" alt="<%= categoryData.categoryName %>">
      </div>
    </div>
    <div class="content container-4 my-16">
      <ul class="col-span-4 grid grid-cols-4 gap-5">
        <h2 class="up-title up-title_svg self-start text-primary-prblue">Каталог</h2>
        <% categoryProducts.map((c)=> { %>
          <%= _.template(require('html-loader!./templates/card-product.html').default)({obj: c, isDevServer}) %>
        <% }) %>
      </ul>
    </div>
    </main>
    <%= _.template(require('html-loader!./insets/asides/inner-footer.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
  </body>
</html>