<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= require(`html-loader!./inner-google${isDevServer ? '-dev-server' : ''}.html`).default %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('index.html')[0] %>"  rel="canonical" />
  </head>
  <body class="page bg-primary-lightgray">
    <%= require(`html-loader!./inner-metrika${isDevServer ? '-dev-server' : ''}.html`).default %>
    <header class="header__up py-8">
        <%=_.template(require('html-loader!./insets/asides/inner-header.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
    </header>
    <main class="content relative mt-10 mb-20">
      <h1 class="up-title up-title_svg up-title_h1 mb-10 bg-primary-lightgray">Теплообменники для пищевой промышленности</h1>
      <p class="text-2xl font-medium max-w-5xl">Использование пищевых теплообменников в сфере пищевой промышленности позволяет оптимизировать процессы охлаждения, нагрева и пастеризации, что, в свою очередь, способствует повышению производительности и снижению затрат. Эти устройства находят широкое применение в производстве напитков, молочных продуктов и других пищевых жидкостей или смесей. Выбор конкретного типа теплообменника зависит от требований к процессу и характеристик обрабатываемого продукта.</p>
      <p class="text-2xl font-medium max-w-5xl mt-3">Компания Дромотрон предлагает квалифицированный подбор пищевого теплообменника любой сложности, а также изготовление теплообменного аппарата.</p>
      <!--<img class="w-full mb-8" alt="пищевой теплообменник" src="<%=require('./images/_dr/food-hero.jpg')%>">-->
      <h2 class="up-title up-title_svg mt-12  mb-10">Пластинчатые пищевые теплообменники</h2>
      <img src="<%=require('./images/_dr/svg/bg-geom-full-screen.svg')%>" alt="декор">
      <ul class="container-4 gap-10 items-start mt-10 olpc:*:col-start-1">
        <li class="col-start-2 col-span-3 relative">
          <h3 class="up-title up-title_svg mb-10">Для молока</h3>
          <img class="max-w-full" src="<%=require('./images/_dr/dr-food-mol.png')%>" alt="пластинчатые теплообменника для молока пищевые">
          <ul class="py-20 flex flex-col gap-9">
            <li>
              <h4 class="text-3xl mb-6 font-medium">3-секционный пастеризатор.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для пастеризации молока, сывортки, сливок и других молочных продуктов без сепарации и гомогенизации.</p>
              <ul class="text-base">
                <li>Производительность от 0,5 до 40т/ч.</li>
                <li>Температура пастеризации до 98°С.</li>
                <li>Теплоноситель – горячая вода.</li>
                <li>Хладоноситель – ледяная вода, раствор пропиленгликоля.</li>
                <li>Коэффициент регенерации более 90%.</li>
              </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">4-секционный пастеризатор.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для пастеризации молока, сывортки, сливок и других молочных продуктов с выходом для сепарации или гомогенизации.</p>
              <ul class="text-base">
                <li>Производительность от 0,5 до 40т/ч.</li>
                <li>Температура пастеризации до 98°С.</li>
                <li>Теплоноситель – горячая вода.</li>
                <li>Хладоноситель – ледяная вода, раствор пропиленгликоля.</li>
                <li>Коэффициент регенерации более 90%.</li>
              </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">5-секционный пастеризатор.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для пастеризации молока, сывортки, сливок и других молочных продуктов с выходом для сепарации и гомогенизации.</p>
              <ul class="text-base">
                <li>Производительность от 0,5 до 40т/ч.</li>
                <li>Температура пастеризации до 98°С.</li>
                <li>Теплоноситель – горячая вода.</li>
                <li>Хладоноситель – ледяная вода, раствор пропиленгликоля.</li>
                <li>Коэффициент регенерации более 90%.</li>
              </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">Охладитель.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для охлаждения молока, сывортки, сливок и других молочных продуктов без сепарации и гомогенизации.</p>
              <ul class="text-base">
                <li>Производительность от 0,5 до 40т/ч.</li>
                <li>Хладоноситель – ледяная вода, раствор пропиленгликоля.</li>
                <li>Исполнение рамы: облицованная нержавеющей сталью либо полимерное покрытие.</li>
                <li>При обработке солёной сыворотки и рассолов используются пластины из титана.</li>
              </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">Нагреватель  продукта.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для нагрева молока, сывортки, сливок и других молочных продуктов без сепарации и гомогенизации.</p>
              <ul class="text-base">
                <li>Производительность от 0,5 до 40т/ч. Теплоноситель – горячая вода.</li>
                <li>Исполнение рамы: облицованная нержавеющей сталью либо полимерное покрытие.</li>
                <li>При обработке солёной сыворотки и рассолов используются пластины из титана.</li>
              </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">Пароводяной подогреватель.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для нагрева паром воды для обеспечения работы пастеризаторов и нагревателей, подогрева моющих растворов, подогрева воды в технологических целях. Аппараты обеспечивают высокоэффективный нагрев и полную конденсацию пара.</p>
              <ul class="text-base">
                <li>Производительность до 100т/ч.Температура пара до 160°С.</li>
                <li>Исполнение рамы: облицованная нержавеющей сталью либо полимерное покрытие.</li>
               </ul>
            </li>
          </ul>
          <div class="absolute top-20 right-0 w-1/4 mobile:relative mobile:top-0 mobile:w-full">
            <h4 class="up-title up-title_svg text-2xl before:w-2 before:h-2">Скачайте опросные листы</h4>
            <ul class="">
              <% oprosFiles.filter(i=> i.sphere==="moloko").map((list)=> { %>
                <li>
                  <a class="block py-4 text-base border-b border-primary-black" href="/files/<%= list.fileName%>"><%= list.name %></a>
                </li>
              <% }) %>
            </ul>
          </div>
        </li>
        <li class="col-start-2 col-span-3 relative">
          <h3 class="up-title up-title_svg mb-10">Для пива и сусла</h3>
          <img class="max-w-full" src="<%=require('./images/_dr/dr-food-piv.png')%>" alt="пластинчатые теплообменника для пива сусла дрожжевых напитков пищевые">
          <ul class="py-20 flex flex-col gap-9">
            <li>
              <h4 class="text-3xl mb-6 font-medium">3-секционный пастеризатор.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для пастеризации пива, кваса, соков, напитков.</p>
              <ul class="text-base list-outside list-disc">
                <li>Производительность от 0,5 до 40т/ч.</li>
                <li>Температура пастеризации до 98°С (для напитков).</li>
                <li>Теплоноситель – горячая вода.</li>
                <li>Хладоноситель – ледяная вода, раствор пропиленгликоля.</li>
                <li>Коэффициент регенерации более 90%.</li>
                <li>Максимальное рабочее давление до 12атм.</li>
              </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">Охладитель.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для охлаждения пива, кваса, соков, напитков.</p>
              <ul class="text-base">
                <li>Производительность от 0,5 до 40т/ч.</li>
                <li>Хладоноситель – ледяная вода, раствор пропиленгликоля.</li>
                <li>Исполнение рамы: облицованная нержавеющей сталью либо полимерное покрытие.</li>
                <li>Максимальное рабочее давление до 16атм. Обладает высокой стойкостью к перепадам давления.</li>
              </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">Нагреватель  продукта.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для нагрева пива, кваса, соков, напитков.</p>
              <ul class="text-base">
                <li>Производительность от 0,5 до 40т/ч. Теплоноситель – горячая вода.</li>
                <li>Исполнение рамы: облицованная нержавеющей сталью либо полимерное покрытие.</li>
                <li>Максимальное рабочее давление до 16атм. Обладает высокой стойкостью к перепадам давления.</li>
              </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">Пароводяной подогреватель.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для нагрева паром воды для обеспечения работы пастеризаторов и нагревателей, подогрева моющих растворов, подогрева воды в технологических целях. Аппараты обеспечивают высокоэффективный нагрев и полную конденсацию пара.</p>
              <ul class="text-base">
                <li>Производительность до 100т/ч.Температура пара до 160°С.</li>
                <li>Исполнение рамы: облицованная нержавеющей сталью либо полимерное покрытие.</li>
               </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">Двухступенчатый охладитель сусла после варки.</h4>
              <p class="text-xl mb-6 max-w-3xl">В первой секции происходит предварительное  охлаждение сусла, при этом охлаждающая вода нагревается до 85…93°С, что позволяет значительно снизить энергозатраты для следующей варки и снизить нагрузку на хладомашину. Во второй секции происходит окончательное охлаждение сусла до нужной температуры ледяной водой либо раствором пропиленгликоля.</p>
              <ul class="text-base">
                <li> Производительность от 0,5 до 50 т/ч.</li>
                <li>Исполнение рамы: облицованная нержавеющей сталью либо полимерное покрытие.</li>
               </ul>
            </li>
          </ul>
          <div class="absolute top-20 right-0 w-1/4 mobile:relative mobile:top-0 mobile:w-full">
            <h4 class="up-title up-title_svg text-2xl before:w-2 before:h-2">Скачайте опросные листы</h4>
            <ul class="">
              <% oprosFiles.filter(i=> i.sphere==="piv").map((list)=> { %>
                <li>
                  <a class="block py-4 text-base border-b border-primary-black" href="/files/<%= list.fileName%>"><%= list.name %></a>
                </li>
              <% }) %>
            </ul>
          </div>
        </li>
        <li class="col-start-2 col-span-3 relative">
          <h3 class="up-title up-title_svg mb-10">Для вина и соков</h3>
          <ul class="pb-20 flex flex-col gap-9">
            <li>
              <h4 class="text-3xl mb-6 font-medium">3-секционный пастеризатор.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для пастеризации пива, кваса, соков, напитков.</p>
              <ul class="text-base list-outside list-disc">
                <li>Производительность от 0,5 до 40т/ч.</li>
                <li>Температура пастеризации до 98°С (для напитков).</li>
                <li>Теплоноситель – горячая вода.</li>
                <li>Хладоноситель – ледяная вода, раствор пропиленгликоля.</li>
                <li>Коэффициент регенерации более 90%.</li>
                <li>Максимальное рабочее давление до 12атм.</li>
              </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">Охладитель.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для охлаждения пива, кваса, соков, напитков.</p>
              <ul class="text-base">
                <li>Производительность от 0,5 до 40т/ч.</li>
                <li>Хладоноситель – ледяная вода, раствор пропиленгликоля.</li>
                <li>Исполнение рамы: облицованная нержавеющей сталью либо полимерное покрытие.</li>
                <li>Максимальное рабочее давление до 16атм. Обладает высокой стойкостью к перепадам давления.</li>
              </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">Нагреватель  продукта.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для нагрева пива, кваса, соков, напитков.</p>
              <ul class="text-base">
                <li>Производительность от 0,5 до 40т/ч. Теплоноситель – горячая вода.</li>
                <li>Исполнение рамы: облицованная нержавеющей сталью либо полимерное покрытие.</li>
                <li>Максимальное рабочее давление до 16атм. Обладает высокой стойкостью к перепадам давления.</li>
              </ul>
            </li>
            <li>
              <h4 class="text-3xl mb-6 font-medium">Пароводяной подогреватель.</h4>
              <p class="text-xl mb-6 max-w-3xl">Предназначен для нагрева паром воды для обеспечения работы пастеризаторов и нагревателей, подогрева моющих растворов, подогрева воды в технологических целях. Аппараты обеспечивают высокоэффективный нагрев и полную конденсацию пара.</p>
              <ul class="text-base">
                <li>Производительность до 100т/ч.Температура пара до 160°С.</li>
                <li>Исполнение рамы: облицованная нержавеющей сталью либо полимерное покрытие.</li>
               </ul>
            </li>
          </ul>
          <div class="absolute top-20 right-0 w-1/4 mobile:relative mobile:top-0 mobile:w-full">
            <h4 class="up-title up-title_svg text-2xl before:w-2 before:h-2">Скачайте опросные листы</h4>
            <ul class="">
              <% oprosFiles.filter(i=> i.sphere==="vino").map((list)=> { %>
                <li>
                  <a class="block py-4 text-base border-b border-primary-black" href="/files/<%= list.fileName%>"><%= list.name %></a>
                </li>
              <% }) %>
            </ul>
          </div>
        </li>

      </ul>


    </main>
    <%= _.template(require('html-loader!./insets/asides/inner-footer.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
  </body>
</html>