<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= require(`html-loader!./inner-google${isDevServer ? '-dev-server' : ''}.html`).default %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('index.html')[0] %>"  rel="canonical" />
  </head>
  <body class="page bg-blue-200">
    <%= require(`html-loader!./inner-metrika${isDevServer ? '-dev-server' : ''}.html`).default %>
    <header class="header__up py-8">
        <%=_.template(require('html-loader!./insets/asides/inner-header.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
    </header>
    <main class="">
      <div class="content grid grid-cols-2 items-stretch gap-5 relative mt-10 mb-20">
        <div class="bg-blue-800 p-4 h-full flex flex-col rounded-lg">
          <h1 class="mb-4 text-6xl text-white font-medium font-fr"><%= productData.h1 %></h1>
        </div>
        <div class="bg-red-700 rounded-lg">
          <img class="w-1/2 block mx-auto" src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%><%= productData.poster %>" alt="<%= productData.h1 %>">
        </div>
        <div class="">
          <ul class="flex flex-col gap-4">
            <li class="p-4 rounded-lg border-2 border-red-700">
              <h2 class="text-2xl uppercase font-fr font-medium">Чертежи</h2>
            </li>
            <li class="p-4 rounded-lg border-2 border-red-700">
              <h2 class="text-2xl uppercase font-fr font-medium">Характеристики</h2>
              <ul class="my-6">
                <%  productData.charsJson.map((i)=> { %>
                  <li class="flex justify-between text-base">
                    <b><%= i.nameChar %></b>
                    <p class="basis-24"><%= i.valueChar %></p>
                  </li>
                <% }) %>
              </ul>
            </li>

          </ul>

        </div>
      </div>
      <h2 class="text-4xl"><%= productData.h1 %></h2>
      <p class="text-xl text-primary-white"><%=  productData.intro %></p>
    </main>
    <%= _.template(require('html-loader!./insets/asides/inner-footer.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
  </body>
</html>