<!DOCTYPE html>
<html lang="ru">
<head>
  <%= require(`html-loader!./inner-google${isDevServer ? '-dev-server' : ''}.html`).default %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>"  rel="canonical" />
</head>
<!--<body class="page bg-gradient-to-r from-primary-darker to-primary-blue">-->
<body class="page bg-[#1B2E58]">
  <%= require(`html-loader!./inner-metrika${isDevServer ? '-dev-server' : ''}.html`).default %>
  <% if (isDevServer) { %>
    <p class="text-4xl absolute top-0 left-0 text-red-600">Включен режим разработчика</p>
  <% } %>
  <header class="header">
    <div class="header__up">
        <%=_.template(require('html-loader!./insets/asides/inner-header.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
    </div>
    <div class="hero py-8 relative overflow-hidden ">
      <div class="content">
        <h1 class="text-8xl olpc:text-7xl font-fr font-medium mt-20 mb-0 mx-auto text-center text-white max-w-[1180px] uppercase leading-[100%] mobile:text-6xl"><span class="text-[#145EB4] font-semibold">Производство</span> резервуаров и ёмкостного оборудования</h1>
        <p class="mt-5 text-white mb-5 max-w-xs mx-auto text-center">Российское производство стальных резервуаров</p>
        <a class="ui-button block mb-5 max-w-[400px] w-full text-center bg-primary-red mx-auto" href="#products">Подробнее</a>
      </div>
    </div>
  </header>
  <main class="content">
    <section class="mt-[60px] mb-32 items-start">
      <ul class="container-4 w-full">
        <% ['20', '14', '25', '15'].map((i) => { %>
          <li>
            <span class="text-9xl font-fr font-semibold lighting text-[#145EB4]"><%= i %></span>
            <span class="text-2xl font-medium font-fr text-white">мм гнем металл</span>
          </li>
        <% }) %>
      </ul>
    </section>
    <section class="comparisonSection w-1/2 block mx-auto relative overflow-hidden">
      <h2 class="text-[200px] olpc:text-[120px] absolute top-0 left-0 text-primary-lightgray">
        <img src="<%= require('./images/text-logo.svg')%>" alt="Текстовое лого">
      </h2>
      <p class="text-[100px] olpc:text-[50px] font-fr absolute bottom-[160px] olpc:bottom-16 left-0 text-primary-lightgray">качественно и в срок</p>
      <div class="comparisonImage beforeImage">
        <img class="object-contain object-center" src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%>/api-images/gallery/<%= dModels[37].fileName%>" alt="before">
      </div>
      <div class="comparisonImage afterImage">
        <img class="object-contain object-center" src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%>/api-images/gallery/<%= dModels[38].fileName%>" alt="after">
      </div>
    </section>
    <section class="relative" id="catalog">
      <h2 class="up-title up-title_svg absolute top-0 left-0">Каталог резервуаров</h2>
      <p class="text-white indent-[25%] text-4xl font-fr mb-10">Компания «Викинг» представляет широкий ассортимент стальных резервуаров для промышленного применения. Мы специализируемся на производстве надежных наземных и подземных конструкций, вертикальных резервуаров различного объема, а также силосов для хранения сыпучих материалов. Каждый наш резервуар – это результат многолетнего опыта в металлургии и точного следования современным технологическим стандартам. Мы используем только высококачественную сталь и инновационные методы производства, что гарантирует долговечность и безопасность эксплуатации наших изделий. Доверяя «Викингу», вы получаете не просто резервуар, а надежное решение для ваших производственных задач.</p>

      <ul class="container-2 gap-5">
        <% categories.map((c)=> { %>
          <%= _.template(require('html-loader!./templates/card-category.html').default)({obj: c, isDevServer}) %>
        <% }) %>
        <li class="border h-full font-fr uppercase flex justify-center items-center border-primary-floral text-primary-floral">Весь каталог</li>
      </ul>
    </section>
    <section class="container-2 my-[130px] relative">
      <h2 class="up-title up-title_svg">Каталог</h2>
      <div class="relative">
        <h2 class="text-5xl font-fr uppercase font-semibold text-white"><span class="block text-primary-lightblue">Ведущие</span> категории сегодня</h2>
        <ul class="w-full mt-12 ">
          <% popular.map((c)=> { %>
            <li class="block group">
              <img class="absolute w-80 object-contain object-center transition-all duration-75 h-96 top-0 -left-96 invisible group-hover:visible" src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%>/<%= c.imgUrl %>" alt="">
              <a href="<%= c.linkPath %>" class="text-4xl font-fr flex py-4 pr-4 justify-between border-t border-primary-gray text-primary-gray hover:text-primary-white hover:border-primary-white">
                <span><%= c.itemRuName %></span>
                <svg class="size-6 stroke-primary-gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                </svg>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>
    </section>
    <section>
      <h2 class="up-title up-title_svg">Подбор резервуара</h2>
      <form name="quiz" class="my-8">
        <div class="container-4">
          <label class="formquiz__labelcheckbox relative">
            <input type="radio" value="gorizontalnye-rezervuary-rgs" class="formquiz__inputcheckbox absolute" name="rezervuartype" checked>
            <figure class="formquiz__figchoice">
              <img class="h-[70%] w-[70%] object-center object-contain" src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%>/api-images/gallery/<%= dModels[36].fileName%>">
              <span class="text-xl mt-auto block">Резервуар горизонтальный</span>
            </figure>
          </label>
          <label class="formquiz__labelcheckbox relative">
            <input type="radio" value="gorizontalnye-rezervuary-rgsp" class="formquiz__inputcheckbox absolute" name="rezervuartype">
            <figure class="formquiz__figchoice">
              <img class="h-[70%] w-[70%] object-center object-contain"  src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%>/api-images/gallery/<%= dModels[37].fileName%>">
              <span class="text-xl mt-auto block">Резервуар горизонтальный подземный</span>
            </figure>
          </label>
          <label class="formquiz__labelcheckbox relative">
            <input type="radio" value="vertikalnye-rezervuary" class="formquiz__inputcheckbox absolute" name="rezervuartype">
            <figure class="formquiz__figchoice">
              <img class="h-[70%] w-[70%] object-center object-contain"  src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%>/api-images/gallery/<%= dModels[52].fileName%>">
              <span class="text-xl mt-auto block">Резервуар вертикальный</span>
            </figure>
          </label>
          <label class="formquiz__labelcheckbox relative">
            <input type="radio" value="silosy" class="formquiz__inputcheckbox absolute" name="rezervuartype">
            <figure class="formquiz__figchoice">
              <img class="h-[70%] w-[70%] object-center object-contain"  src="<%= isDevServer ? 'http://www.rezervuar22.ru.website.yandexcloud.net' : ''%>/api-images/gallery/<%= dModels[44].fileName%>">
              <span class="text-xl mt-auto block">Силос</span>
            </figure>
          </label>
        </div>
        <% ["gorizontalnye-rezervuary-rgs", "gorizontalnye-rezervuary-rgsp", "vertikalnye-rezervuary", "silosy"].map((f) => { %>
          <fieldset class="w-1/2 my-4" id="<%= f %>">
            <h2 class="text-xl font-fr text-primary-white">Объемы резервуара</h2>
            <% sizesArrForCats[f].map((size)=> { %>
              <label class="formquiz__labelcheckbox relative">
                <input type="checkbox" value="<%= size %>" class="formquiz__inputsizecheck absolute invisible" name="rezervuarsize">
                <span class="formquiz__sizechoice font-fr uppercase"><%=size %> м³</span>
              </label>
            <% }) %>
          </fieldset>
        <% }) %>
        <fieldset></fieldset>
      </form>
    </section>


  </main>
  <%= _.template(require('html-loader!./insets/asides/inner-footer.html').default)({ROUTES: ROUTES, page: 'main'}) %>
</body>
</html>
